<h4><%= "#{@subject.term}年度" %></h4>
<h2><%= "#{@subject.display_name}" %></h2>
<hr>
<h3>提出状況</h3>
<table class="table">
  <tr>
    <td colspan="2">学生情報</td>
    <td colspan="<%= @lessons.count %>">提出状況</td>
    <td>
  </tr>
  <tr>
    <th>学籍番号</th>
    <th>名前</th>
    <% @lessons.each do |lesson| %>
    <th><%= "#{lesson.week}" %></th>
    <% end %>
  </tr>
  <% if @situations.present? %>
  <% @situations.each do |situation| %>
  <tr>
    <td><%= situation[:st_num] %></td>
    <td><%= situation[:name] %></td>
    <% situation[:statuses].each do |status| %>
    <% if status[:submitted] %>
    <td><span style="color:black">済</td>
    <% else %>
    <td><span style="color:red">未</td>
    <% end %>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</tr>
</table>
