<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceSheetCollector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container-fruid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <%= link_to 'AttendanceSheet', dashboard_index_path, class: 'navbar-brand' %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navbar">
        <% if user_signed_in? && current_user.admin? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to '授業管理', subject_index_path, class: 'nav-link' %>
          </li>
        </ul>
        <% end %>
        <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>
    </div>
    <div class="container">
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
